

/* pour le style des documents */

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 1000%; /* 10 slides x 100% each */
  gap: 20px;
}

.slide-item {
  width: 210px;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.slide-item img {
  width: 100%;
  height: 100%;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 10px;
}

.slider-dots {
  text-align: center;
  margin-top: 10px;
}

.slider-dots button {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  background: #bbb;
  cursor: pointer;
}

.slider-dots button.active {
  background: #333;
}

/* popovers de la documentation */

.link_documents {
    position: absolute;
    top: 30%;
    left: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #EC681D;
    color: #333;
    animation: trumble 3s infinite linear;
    z-index: 2;
    text-decoration: none;
    border-radius: 5px;
}

@keyframes trumble {
    0%, 70%, 75%, 80%, 85%, 90%, 95%, 100% {
        transform: rotateZ(-35deg);
    }
    72%, 77%, 82%, 87%, 92%, 97% {
        transform: rotateZ(35deg);
    }
}

#floatingBubble {
  position: fixed;
  right: 10px; /* cachée hors de l'écran */
  bottom: 100px;
  width: 140px;
  height: 60px;
  background-color: #EC681D;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  transition: right 0.5s ease;
  z-index: 9999;
  cursor: pointer;
}

#notif {
  max-width: 1000px;
  margin: auto;
  border-top: 5px solid #237E34;

}

#notif div {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#notif div h3 {
  font-size: 45px;
  text-align: center;
}

#notif div a {
  text-decoration: none;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  background-size: 300%;
  animation: fluide 3s infinite linear;
  font-size: 30px;
  margin-top: 15px;
}

@keyframes fluide {
  0%, 100% {
    background-color: #EC681D;
  }
  50% {
    background-color: #333;
  }
}

#notif div a:hover {
  background-color: #237E34;
  animation: none;
  transition: 1s ease;
}

#last_information {
  display: grid;
  grid-template-columns: repeat(3 ,  1fr);
  column-gap: 50px;
  padding: 0 20px;
}

.last_information_items {
  width: 100%;
  min-height: 500px;
  box-shadow: 0 0 5px #333;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 10px;
}

.last_information_items:hover {
  box-shadow: 0 0 10px #333;
  transform: scale(1.1);
}

