* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
  overflow-x: hidden;
}

/* Le Header */

.top-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: white;
    margin: auto;
}
  
.logo {
    height: 40px;
}

nav {
    background-color: #237E34;
    text-align: center;
    padding: 10px 20px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tuffy", sans-serif;
    gap: 5px;
    z-index: 20;
}

.navfixer {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 20;
}

.Flashfixer {
  position: sticky;
  top: 0;
  z-index: 19;
  background-color: #EC681D;
}

.black {
  color: black;
}

.white {
  color: white;
}

.nav-logo img {
  width: 60px;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    padding: 30px;
    margin: 30px 0;
    transition: 0.5s ease;
    color: white;
}

nav > ul > li > a:hover {
  color: #EC681D;
}

.Menu-deroulant {
    position: relative;
}

.Menu-deroulant:hover .liste-deroulant { 
    opacity: 1;
    transform: translateY(20px);
    pointer-events: auto;
}

.liste-deroulant {
    list-style: none;
    position: absolute;
    top: 100%;
    border-top: 4px solid #EC681D;
    background-color: white;
    left: 0;
    padding-left: 0;
    min-width: 200px;
    transform: translateY(30px);
    opacity: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: 10;
    transition: 0.3s ease;
    pointer-events: none;
}

.liste-deroulant li {
    list-style: none;
    text-align: start;
    padding: 15px;
    border-top: 1px solid #EC681D;
    cursor: pointer;
}

.liste-deroulant li:hover {
    background-color: #E6E6E6 ;
}

.liste-deroulant li a {
    color: black;
    font-size: 12px;
    text-decoration: none;
    width: auto;
    height: 100px;
}

section {
  max-width: 1200px;
  margin: auto;
}

/* Flash info */

.Flash {
  margin: 5px 0;}

.flash-info {
    display: flex;
    align-items: center;
    background-color: #EC681D;
    color: white;
    padding-left: 10px;
    margin: auto;
    width: 1200px;
  }

.flash-info > span {
    font-weight: bold;
    min-width: 120px;
}

.flash-info > marquee {
    margin: 0px 5px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    padding: 5px 0;
}

.flash-info div {
    display: flex;
    gap: 10px;
    padding-left: 15px;
}

/* Banniere */

.slider-container {
  max-width: 1200px;
  height: 480px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: black;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  animation: fade 1s ease-in-out;
}

.slide {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: end;
  position: absolute;
  transition: 1s ease-in-out;
}

.desaffiche {
  opacity: 0;
  transform: scale(0);
}

.slide1 {
  background-image: url(../IMG/baniere.png);
  background-size: cover;
}

.slide2 {
  background-image: url(../IMG/Dr\ DUNCAN_DAP\ off\ -\ Copie.png);
  background-size: cover;
}

.slide3 {
  background-image: url(../IMG/Bannière\ dap.png);
  background-size: cover;
}

.slide > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.navigue {
  position: absolute;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.next {
  font-size: 50px;
  color: #ffffff;
  right: 0;
}

.previous {
  font-size: 50px;
  color: #ffffff;
  left: 0;
}

.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot.select {
  background-color: #EC681D;
}

.dot {
  height: 15px;
  aspect-ratio: 1;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* Lien utile */
  
.quick-links {
  display: grid;
  grid-template-columns: repeat(4 , 1fr );
  padding: 30px;
  gap: 20px;
}
  
.link-box {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
  transition: 1s ease;
  cursor: pointer;
  position: relative;
  box-shadow: -2px -2px 5px #ec691dc6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.6);
}

.link-box h3{
  margin: 10px 0;
}
  
.link-box:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  transform: translateY(-20px);
}

.link-box:hover .link-box:not(:hover) {
  box-shadow: none;
}

.left {
    position: absolute;
    left: 25px;
    top: 10px;
}

.left img{
    width: 40px;
    aspect-ratio: 1;
}

.right {
    position: absolute;
    right: 20px;
    top: 10px;
}

.Annonce {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr , 2fr;
  gap: 20px;
  padding: 20px;
}

.Annonce img {
  width: 100%;
  aspect-ratio: 0.8;
  background-color: #ccc;
  margin: 5px;
}

.Annonce div {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Documentation */

#Documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

#documentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

#documentation a {
  text-decoration: none;
  color: black;
  padding: 15px 10px;
  font-size: 25px;
  transition: 1.5s ease-in-out;
  border-radius: 20px 20px 0 0;
  font-weight: bold;
}

.documents_active {
  background-color: #EC681D;
}

#box-documents {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 100px 100px 0 0;
  height: 430px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}


.flex {
  display: flex;
  animation: effet 1s forwards;
}

@keyframes effet {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.none {
  display: none;
}

#box_Documents_Elaborés , #box_Pharmanews , #box_Documents_Officiels{
  width: 1200px;
  padding: 50px 20px;
  height: 100%;
  overflow: hidden;
  transition: 1s ease;
  position: absolute;
}

/* #box_Documents_Elaborés div  ,#box_Pharmanews div  ,#box_Documents_Officiels div {
  min-width: 250px;
  height: 100%;
  background-color: #ccc;
  border-radius: 15px;
} */

/* Section portrait  */

.EMPLOIYE {
  background-color: #2e7d32;
  color: white;
  padding: 10px 0px;
  margin: 50px auto;
}

.employe-jour {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 20px;
    max-width: 1000px;
    margin: auto;
}
  
.employe-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
  
.annuaire-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #f16523;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.link {
  padding: 13px 20px;
  background-color: #237E34;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
  
  .employe-icon .circle-user {
    font-size: 100px;
    background: white;
    color: #2e7d32;
    border-radius: 50%;
    padding: 20px;
    margin-top: 20px;
  }

@media (max-width: 1300px) {
  .quick-links {
    grid-template-columns: repeat(2 , 400px );
    width: fit-content;
    margin: auto;
    background-color: white;
  }
  .link-box {
    box-shadow: 0 5px #444444;
  }
}

#Actualités {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.Titre_Section {
  font-size: 30px;
  margin: 10px 0;
  font-family: sans-serif;
}

.Description_Section {
  margin: 5px 0px 25px 0px;
}

#Articles {
  display: flex;
  position: relative;
  gap: 20px;
  justify-content: center;
  margin: 20px;
  padding: 30px 0;
  
}

#Articles article {
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  transition: 0.5s ease-out;
  display: grid;
  grid-template-rows: repeat(2 , 1fr);
  row-gap: 5px;
}

#Articles article:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 5px #EC681D;
}

#Articles article > img {
  background: #ddd;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#Articles article div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#nos_partenaires {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#Partenaire {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#Partenaire div {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

#Partenaire a {
  text-decoration: none;
}

#Partenaire img {
  width: 200px;
  height: 120px;
  border-radius: 5px;
  background-color: #ddd;
}

#rightoleft {
  animation: rightoleft 50s infinite linear;
}

@keyframes rightoleft {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-1250px);
  }
}

/* Structure générale */

.information {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #fbffe2;
}

.information > div > a  {
  color: #EC681D;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transition: 0.5s ease;
}

.information > div > a:hover {
  color: black;
}

/* Colonnes */

.RECRU {
  display: flex;
  flex-direction: column;
}

#link-info {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

#lecture {
  padding: 10px 20px;
  background-color: #EC681D;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s ease;
}

#link-actualités {
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #EC681D;
  color: white;
  border-radius: 20px;
}

.RECRU > a:hover {
  background-color: #ec691dcf;
  transform: scale(1.1);
}

#link-info:hover {
  color: #EC681D;
}

/* Titres */
.information h2, .information h3 {
  border-top: 2px solid orange;
  text-align: center;
  padding: 20px 0;
}

.RECRU img {
  min-height: 200px;
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
}

.RECRU p {
  padding: 0 15px;
}

/* Actualités */
.information article {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
  height: 470px;
}

.information article > P {
  text-align: center;
  margin-top: auto;
}

.information article > P > a {
  text-decoration: none;
  color: #2e7d32;
}

.information article > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.information > div > div {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 10px;
}

.information article img {
  height: 100%;
  background-color: #ccc;
  border-radius: 5px;
  width: 100%;
}

.information article > div > p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 28px;
  color: #1F1F1FB3;
  font-weight: 400;
  position: relative;
}

.information article > div > p a {
  margin-left: auto;
  color: #EC681D;
  position: absolute;
  right: 20px;
}

/* Événement */
/* .information div img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.information ul {
  padding-left: 20px;
}

.information ul li {
  margin-bottom: 5px;
} */

footer {
  background-color: #237E34;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
  gap: 15px;
}

#nomination {
  color: white;
  margin: 15px auto;
  width: fit-content;
}

.Siege {
  text-align: center;
  margin: 5px 20px;
  color: #EC681D;
  font-weight: bold;
}

.position {
  text-decoration: none;
  color: white;
  margin: 10px 0;
}

#Lien_utiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#réseaux {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  width: 40px;
  aspect-ratio: 1;
  fill: white;
  transition: 0.3s ease;
}

.icon:hover {
  stroke: #EC681D ;
}

#administration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  gap: 10px;
}

.link_administratif {
  color: white;
  text-decoration: none;
  text-wrap: nowrap;
  transition: 0.3s ease-in;
}

.link_administratif:hover {
  color: #EC681D;
}

#newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#newsletter h2 {
  color: white;
  margin-bottom: 25px ;
}

#newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: auto;
}

#newsletter form label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#newsletter form input[type="email"] {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#newsletter form input[type="email"]:focus {
  box-shadow: 0 0 0 3px #ec691d9d;
  outline: none;
}

#newsletter form button {
  padding: 12px 20px;
  background-color: #EC681D;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#newsletter form button:hover {
  background-color: #ec691dba;
}

#CTA {
  color: white;
  margin: 10px 20px;
  text-align: center;
}

#lastFooter {
  display: flex;
  width: 100%;
  padding: 5px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EC681D;
}

#lastFooter p {
  color: white;
  padding: 5px 0;
  font-size: 12px;
}

#lastFooter a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
  font-size: 12px;
}

#lastFooter a:hover {
  color: #237E34;
}



